# **Scope of this Notebook is to only push a local data to MongoDB so then we can pull our data from an actual database.**

In [ ]:
import pandas as pd
import pymongo

df = pd.read_csv('data.csv')

,id,Gender,Age,Driving_License,Region_Code,Previously_Insured,Vehicle_Age,Vehicle_Damage,Annual_Premium,Policy_Sales_Channel,Vintage,Response
0,1,Male,44,1,28.0,0,> 2 Years,Yes,40454.0,26.0,217,1
1,2,Male,76,1,3.0,0,1-2 Year,No,33536.0,26.0,183,0
2,3,Male,47,1,28.0,0,> 2 Years,Yes,38294.0,26.0,27,1
3,4,Male,21,1,11.0,1,< 1 Year,No,28619.0,152.0,203,0
4,5,Female,29,1,41.0,1,< 1 Year,No,27496.0,152.0,39,0

In [19]:
df.shape

(381109, 12)

In [18]:
df['Driving_License'].unique

<bound method Series.unique of 0         1
1         1
2         1
3         1
4         1
         ..
381104    1
381105    1
381106    1
381107    1
381108    1
Name: Driving_License, Length: 381109, dtype: int64>

In [21]:
# data should be converted into dictiionary before we push it to MongoDB
data = df.to_dict(orient= 'records')

In [24]:
DB_NAME = 'Proj1'
COLLECTION_NAME = 'Proj1-Data'
CONNECTION_URL = "mongodb+srv://musanad04_db_user:sgTqUvPcpdgMazWB@cluster0.wycaohz.mongodb.net/?appName=Cluster0"

In [25]:
client = pymongo.MongoClient(CONNECTION_URL)
data_base = client[DB_NAME]
collection = data_base[COLLECTION_NAME]

In [26]:
rec = collection.insert_many(data)

In [27]:
print(type(rec))

<class 'pymongo.results.InsertManyResult'>